<template>
  <div>
    <DemoVuejs></DemoVuejs>
  </div>
</template>

<script>
// @ is an alias to /src
import DemoVuejs from "@/components/DemoVuejs.vue";
export default {
  name: "About",
  components: {
    DemoVuejs 
  }
};
</script>
