<template>
  <div class="buttonItem">
    <button class="buttonClose" >Close</button>
    <button class="buttonSave" >Save</button>
  </div>
</template>

<script>
export default {
  name: "ButtonItem",
};
</script>

<style scoped lang="scss">
.buttonItem {
  margin-bottom: 20px;
  margin-top: 66%;
}
.buttonSave {
  margin-left: 16%;
  background-color: #00b5fd;
  border: 1px solid #00b5fd ;
  outline-color:  #00b5fd ;
}
.buttonClose{
  border: 1px solid #7785a6 ;
  background-color: #7785a6;
  outline-color: #7785a6;
}
button{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  cursor: pointer;
}
</style>
