<template>
  <div class="image-detail">
    <div class="image-detail-item">
      <div class="classImg">
        <img src="@/assets/login/loginBG.png" />
      </div>

      <div class="border-itme">
        <div class="classTextFirst">
          <p>Image Information</p>
        </div>
        <div> 
          
          <!-- <div class="displayInput">
            <label>Title 
            <i class="fas fa-info"></i></label>
            <input >
          </div> -->

          <input-text
            title="Title" 
            placeholder="Add your conllection name"
            type="text"
            name="title"
          />
  
          <input-text
            title="Tags"
            placeholder="Enter your Tag"
            type="text"
            name="tags"
          />
        </div>
        <div>
          <ButtonItem></ButtonItem>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InputText from "./InputText.vue";
import ButtonItem from "./ButtonItem.vue";
export default {
  name: "DemoVuejs",
  components: {
    InputText,
    ButtonItem,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.displayInput{
  display: grid;
}
.image-detail {
  overflow: hidden;
  width: 1280px;
  height: 800px;
  background-color: #dddddd;
  margin: auto;

  .image-detail-item {
    background-color: #ffffff;
    width: 1000px;
    height: 500px;
    margin: 150px 140px;
    display: flex;
    border-radius: 20px;
  }

  .classImg {
    width: 70%;
    background-color: aqua;
    height: 500px;
    border-radius: 20px 0px 0px 20px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px 0px 0px 20px;
    }
  }

  .classInput {
    height: 500px;
  }
  .border-itme {
    text-align: left;
    margin: 25px 22px 20px 20px;
    width: 30%;
  }
  p {
    font-family: roboto;
    font-size: 18px;
  }
}
</style>
