<template>
  <div class="input-group">
    <label>
      {{ title }}
      <i
        class="icon icon-info tc-blue"
        v-if="tooltip"
        v-tooltip.top="tooltip"
      ></i>
    </label>
    <input
      :type="type"
      :name="name"
      :value="value"
      :placeholder="placeholder"
      @input="_handleChangeInput($event)"
      :ref="name"
    />
    <span class="warning">
      <span class="error">{{ errors.errorMessage }}</span>
      <span class="counter" v-if="maxLength"
        >{{ value.length }}/{{ maxLength }}</span
      >
      <span class="counter" v-if="!maxLength">&nbsp;</span>
    </span>
  </div>
</template>
<script>
import { validation } from "./validate";
export default {
  props: {
    value: {
      type: String,
    },
    autofocus: {
      type: Boolean,
    },
    title: {
      type: String,
    },
    name: {
      type: String,
    },
    tooltip: {
      type: String,
    },
    placeholder: {
      type: String,
    },
    type: {
      type: String,
    },
    validations: {
      type: Object,
    },
  },

  data() {
    return {
      errors: {
        name: this.name,
        errorMessage: "",
        valid: false,
      },
      maxLength: null,
    };
  },

  created: function () {
    if (this.validations) {
      this.validations.forEach((validation) => {
        if (validation.type == "length") {
          this.maxLength = validation.max;
        }
      });
    } else {
      this.errors.valid = true;
    }

    this.$emit("valid", this.errors);
    
  },
  mounted: function(){
    if (this.autofocus) {
      this.$refs[this.name].focus();
    }
  },

  methods: {
    _handleChangeInput(e) {
      this.$emit("input", e.target.value);
      if (this.validations) {
        this.errors = validation(e, this.validations);
        this.$emit("valid", this.errors);
      }
    },
  },
};
</script>


<style lang="scss" scoped>
.input-group {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  label {
    font-size: 12px;
  }
  input {
    height: 40px;
    display: block;
    border: 1px solid #15f8f8;
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 20px;
  }
  .warning {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    .error {
      color: red;
    }
    .counter {
      margin-left: auto;
    }
  }
}
</style>