<template>
  <div>
    <div class="buttonItem">
      <button class="sign-up">Sign up</button>
      <button class="sign-in">Sign in</button>
    </div>

    <p class="footer-Login">* By sign in,you agree to our <u>Terms of Use</u> and to receive Webify emails
           & updates and acknowledge that you read our <u>Privacy Policy</u>.</p>
  </div>
</template>

<script>
export default {
  name: "ButtonSignIn",
};
</script>

<style scoped lang="scss">
.buttonItem {
  margin-bottom: 30px;
}
.sign-up {
  background-color: #ffffff;
  color: #00b5fd;
  border: 1px solid #00b5fd;
}
.sign-in {
  margin-left: 29%;
  border: solid 1px #00b5fd;
  background-color: #00b5fd;
  color: #ffffff;
}
button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 14px;
  outline-color: #00b5fd;
  cursor: pointer;
}

.footer-Login{
  font-size: 10px;
  color: #7785a6;
}
</style>
