<template>
  <div class="button-group">
    <button class="button-fb">
      <i class="fas fa-info"></i>Sign in width Facebook
    </button>
    <button class="button-GG"><i class="fas fa-info"></i></button>
    <button class="button-AP"><i class="fas fa-info"></i></button>
  </div>
</template>

<script>
export default {
  name: "ButtonSocial",
};
</script>

<style scoped>
.button-group {
  display: flex;
  margin-bottom: 30px;
}
.button-fb {
  background-color: #0089ff;
  width: 220px;
  height: 40px;
  margin-right: 25px;
}
.button-GG {
  width: 40px;
  height: 40px;
  background-color: red;
  margin-right: 25px;
}
.button-AP {
  width: 40px;
  height: 40px;
  background-color: black;
}
button {
  border-radius: 10px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
}
</style>
