<template>
    <div  class="line">
          <hr/>
          <p class="p-or">Or</p>
          <hr/>
        </div>
</template>

<script>
export default {
    name: "LineOr"
}
</script>

<style scoped>
.p-or{
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  text-align: left;
  color: #7785a6;
  padding: 8px;
}

.line{
  display: flex;
  height: 30px;
  margin-bottom: 15px;
}
hr {
  width: 340px;
  
  opacity: 0.4;
  border: solid 1px #7785a6;
}
</style>