<template>
  <div class="login">
    <div class="loginItem">
      <div class="divLeft">
        <div class="divLeftitem">
          <WebifyLeft></WebifyLeft>
        </div>
      </div>
      <div class="divRight">
        <h4>Sign up to Webtify</h4>
        <div>
          <ButtonSocial></ButtonSocial>
        </div>

        <div>
          <LineOr></LineOr>
        </div>

        <div class="input">
          <input-text
            title="Title"
            name="title"
            type="text"
            placeholder="Enter your email"
            v-model="title"
            :validations="[
              { type: 'required' },
              { type: 'length', min: 5, max: 100 },
            ]"
          />

          <input-text
            title="Password"
            name="pass"
            type="password"
            placeholder="Enter your password"
            v-model="password"
            :validations="[
              { type: 'required' },
              { type: 'length', min: 5, max: 100 },
            ]"
          />

        </div>

        <div>
          <ButtonSignIn></ButtonSignIn>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import WebifyLeft from "./WebifyLeft.vue";
import ButtonSocial from "./ButtonSocial.vue";
import ButtonSignIn from "./ButtonSignIn.vue";
import InputText from "../InputText.vue";
import LineOr from "./LineOr.vue";
export default {
  name: "SignUp",
  components: {
    WebifyLeft,
    ButtonSocial,
    ButtonSignIn,
    InputText,
    LineOr
  },
data: function () {
  return {
    title: "",
    password: ""
  }
}
};

</script>

<style scoped>
.login {
  width: 1280px;
  height: 800px;
  margin: auto;
  background-image: url("C:/Users/ADMIN/my-project/src/assets/login/loginBG.png");
  padding: 100px 240px;
}
.loginItem {
  width: 800px;
  height: 600px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
}
.divLeft {
  width: 45%;
  height: 100%;
  background-color: #00b5fd;
  border-radius: 20px 0px 0px 20px;
}
.divLeftitem {
  margin-left: 50px;
  margin-right: 13px;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: left;
}

.divRight {
  width: 55%;
  height: 100%;
  padding: 50px;
  text-align: left;
}
h4 {
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.17;
  color: #38425b;
}

.footer-Login {
  font-size: 10px;
  color: #7785a6;
}

.input {
  margin-bottom: 20px;
}
</style>
