<template>
  <div>
    <p class="p-first">Webify</p>
    <div>
      <h1>Let's build your</h1>
      <h1>creative Blog, Website &</h1>
      <h1>e-Commerce shop</h1>
    </div>
    <img src="@/assets/login/loginBG.png" />
    <p class="p-final">@ 2020 Webify All rights resrved</p>
  </div>
</template>

<script>
export default {
  name: "WebifyLeft",
};
</script>

<style scoped>
.p-final {
  padding-bottom: 30px;
  padding-top: 25%;
  font-size: 12px;
  line-height: 1.17;
  font-family: sansation;
  color: #7785a6;
  opacity: 0.6;
}
.p-first {
  opacity: 0.5;
  font-family: GeomaDemo;
  font-size: 18px;
  line-height: 1.22;
  text-align: left;
  color: #ffffff;
}
img {
  width: 90%;
  height: 50%;
  padding-top: 100px;
}
h1 {
  opacity: 0.7;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;
}
@font-face {
  font-family: sansation;
  src: url("C:/font/Roboto/Roboto-Bold.ttf");
}
</style>
